<section ng-controller="LoginController as vm">
    <section class="login-container card">
        <header>
            Sign In
        </header>
        <section class="login-body form-group">
            <p class="error-message-container" ng-show="vm.ErrorMessages && vm.ErrorMessages.length > 0">
            <span class="error-message"
                  ng-repeat="message in vm.ErrorMessages">
                <span ng-show="message.startsWith('-')" class="indent"></span> {{message}} <br>
            </span>
            </p>
            <form ng-submit="vm.Login()">
                <input type="email"
                       placeholder="Email Address"
                       class="login-input form-control"
                       ng-model="vm.EmailAddress"/>
                <input type="password"
                       placeholder="Password"
                       class="login-input form-control"
                       ng-model="vm.Password"/>
                <p class="recover-password">
                    <a ui-sref="login-recover">Forgot Password?</a>
                </p>
                <button class="btn btn-primary"
                        type="button"
                        ng-show="vm.Loading"
                        disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="sr-only">Loading...</span>
                </button>
                <button class="btn btn-secondary-alt btn-login"
                        type="submit"
                        ng-hide="vm.Loading">
                    Sign In
                </button>
                <div class="form-group recover-password m-top-10">
                    <label for="remember-me">Remember Me</label>
                    <input type="checkbox" id="remember-me"
                           class=""
                           ng-model="vm.RememberMe"/>
                </div>
            </form>
        </section>
        <footer class="login-footer">
            <p class="text-gray">
                Not a member yet?
            </p>
            <p class="create-account">
                <a ui-sref="account-create">Become a Member</a>
            </p>
        </footer>
    </section>



</section>