@-webkit-keyframes overlay {
    0% {
        transform: scale(.5); opacity: 0;
    }
    100%   {
        transform: scale(1); opacity: 1;
    }
}
@-moz-keyframes overlay {
    0% {
        transform: scale(.5); opacity: 0;
    }
    100%   {
        transform: scale(1); opacity: 1;
    }
}
@-o-keyframes NAME-YOUR-ANIMATION {
    0% {
        transform: scale(.5); opacity: 0;
    }
    100%   {
        transform: scale(1); opacity: 1;
    }
}
@keyframes overlay {
    0% {
        transform: scale(.5); opacity: 0;
    }
    100%   {
        transform: scale(1); opacity: 1;
    }
}