/* app css stylesheet */
:root {
    --accent-color: #DFA06B;
    --primary-color: #29253E;
    --secondary-color: #608073;
    --primary-color-alt: #364451;
    --secondary-color-alt: #A49775;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: white;
}

header > nav.navbar {
    background-color: white;
}

#header-donate {
    display: inline-block;
    float: left;
}

nav.navbar {
    font-size: 120%;
    /*width: 80%;*/
}

.navbar-brand {
    font-size: 122%;
    font-weight: bold;
}

body > main {
    margin: 71px auto 10px auto;
    max-width: 80%;
}

body > footer {
    background-color: var(--secondary-color);
    padding: 10px;
}

footer > section {
    margin: auto;
    width: 80%;
}

footer *, footer a {
    color: white;
}

.body-content {
    margin: 50px auto 50px auto;
    max-width: 80%;
}

.navbar * {
    color: black;
}

.btn {
    border-radius: 20px;
    color: white;
    font-weight: bold;
    padding: 8px 20px;
}

.btn.btn-donate {
    background-color: var(--secondary-color);
}

.btn.btn-primary {
    background-color: var(--primary-color);
}

.btn.btn-primary-alt {
    background-color: var(--primary-color-alt);
}

.btn.btn-secondary {
    background-color: var(--secondary-color);
}

.btn.btn-accent {
    background-color: var(--accent-color);
}

.btn.btn-secondary-alt {
    background-color: var(--secondary-color-alt);
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-menu {
    border: none;
    font-size: 90%;
    margin-top: -3px;
}

li.nav-item {
    font-size: 95%;
    margin: 0 15px;
}

/* Container holding the image and the text */
.overlay-container {
    color: white;
    position: relative;
    text-align: center;
}

/* Bottom left text */
.bottom-left {
    bottom: 8px;
    left: 16px;
    position: absolute;
}

/* Top left text */
.top-left {
    left: 16px;
    position: absolute;
    top: 8px;
}

/* Top right text */
.top-right {
    position: absolute;
    right: 16px;
    top: 8px;
}

/* Bottom right text */
.bottom-right {
    bottom: 8px;
    position: absolute;
    right: 16px;
}

/* Centered text */
.centered {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#stay-in-touc-form > input {
    margin-bottom: 8px;
}

#mission-overlay {
    font-family: 'Dancing Script', cursive;
    font-family: 'Marck Script', cursive !important;
    font-size: 3.25vw;
    overflow-wrap: break-word;
    padding: 2vw;
    text-align: left;
    white-space: normal;
    width: 75%;
}

#contact-info p {
    font-size: 80%;
}

#location {
    max-height: 250px;
    width: 100%;
}

#footer-bottom {
    margin-top: 20px;
}

.login-container {
    text-align: center;
    margin: 100px auto;
    max-width: 500px;
}

.login-container > .login-header {
    background-color: var(--secondary-color-alt);
    color: white;
    font-weight: bold;
    padding: 15px;
}

.login-container > .login-body {
    width: 80%;
    margin: auto;
    padding: 75px 15px;
}

p.recover-password {
    text-align: right;
    font-size: 90%;
    color: #007bff;
}

p.recover-password:hover {
    text-decoration: underline;
}

.btn.btn-login {
    min-width: 200px;
}

.login-container > .login-body > input {
    margin-bottom: 15px;
}

.login-container > .login-footer {
    color: black;
    font-size: 100%;
}
.login-container > .login-footer > p.create-account > a {
    color: var(--primary-color);
}
.login-container > .login-footer > *:not(:last-child) {
    margin-bottom: 0;
}
.login-container > .login-footer > *:last-child {
    margin-bottom: 45px;
}
.text-gray {
    color: lightgray;
}

p.error-message-container {
    color: red;
    text-align: left;
    font-size: 85%;
}

section.card {
    box-shadow: 5px 10px 8px #888888;
    border-radius: 30px;
    overflow: hidden;
}

span.indent {
    width: 20px;
    display: inline-block;
}


/********************************************************************
  Breakpoint xl
 ********************************************************************/
@media (max-width: 1200px) {

}

/********************************************************************
  Breakpoint lg
 ********************************************************************/
@media (max-width: 992px) {
    body > main {
        max-width: 100%;
    }
}

/********************************************************************
  Breakpoint md
 ********************************************************************/
@media screen and (max-width: 768px) {

}

/********************************************************************
  Breakpoint sm
 ********************************************************************/
@media (max-width: 576px) {

}
